<h2>You eat here!</h2>
<p>{{category}}</p>
<address>
    <strong>{{name}}</strong><br>
    {{location.address}}<br>
    {{location.postalCode}} {{location.city}}<br>
    {{location.country}}<br>
</address>
<address>
    <abbr title="Phone">P:</abbr> {{contact.phone}}<br>
    <abbr title="Website">W:</abbr> <a {{bindAttr href='url'}} target="_blank">{{url}}</a>
</address>